body {
  margin: 0;
}

section {
  background-color: #f7f8fa;
  margin: 0;
  padding: 1rem;
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 4rem;
  padding: 0;
}

.col {
  flex-basis: 25%;
  margin: 0 1rem;
  padding: 0;
  text-align: center;
}

.main-image {
  width: 15rem;
}

.icon {
  width: 3.25rem;
}

h2 {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 17pt;
  margin: 0 0 0.75rem 0;
}

h3 {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 10pt;
  margin: 0.5rem 0 1.5rem 0;
}

p {
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  font-size: 8pt;
}
