button {
  background-color: green;
  color: white;
  padding: 50px 50px;
}

button:hover {
  background-color: blue;
  cursor: crosshair;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

.head th {
  background-color: black;
  color: white;
}
