body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
}

.selected {
  border-bottom: 2px solid black;
  padding-bottom: 2px;
  color: black;
}

.correct {
  padding-bottom: 2px;
  color: blue;
}

.incorrect {
  border-bottom: 2px solid red;
  padding-bottom: 2px;
  color: red;
}

span {
  display: inline-block;
  width: 24px;
}
